
@font-face {
  font-family: 'Iceland';
  src: url("../assets/fonts/Iceland-Regular.ttf");
}
@font-face {
  font-family: 'RussoOne';
  src: url("../assets/fonts/RussoOne-Regular.ttf");
}
body {
  background-image: url("../assets/modal_bg.webp");
  background-size: cover;
  background-position: center;

}
#root {
  height: 100vh;
  //@media (min-width: 1200px) {
  //  height: 115vh;
  //}
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
header {
  .container{
    height: 18vh;
    min-height: 80px;
    max-height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      color: white;
      margin-top: 35px;
      font-weight: 700;
      font-size: 5.5vmax;
      font-family: 'Iceland', cursive;
      @media (min-width: 992px) {
        font-size: 80px;
        margin-top: 50px;
      }
    }
    p {
      font-size: 3.5vmax;
      color: black;
      font-family: "RussoOne", sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;;
      @media (min-width: 992px) {
        font-size: 40px;
      }
    }
  }
}
.nav_section {
  height: 60px;
  display: flex;
  margin-top: 10px;
  .navbar {
    font-family: 'Iceland', cursive;
    font-size: 18px;
    .collapse {
      @media (min-width: 767px) {
        display: block !important;
      }
    }
    .nav-item {
      margin: 0 5px;
    }
    .nav-link {
      @media (max-width: 330px) {
        padding: 8px 3px !important;
      }
    }
  }
}

//Carousel styles
main {
  height: 50vh;
  @media (min-width: 1025px) {
    height: 65vh;
  }
  .carousel-inner {
    //margin-top: -25px;
    padding-bottom: 50px;
    z-index: 0;
    .carousel-item {
      height: auto;
      width: 100%;
      margin-bottom: 50px;
      @media (min-width: 992px) and (max-width: 1199px) {
        width: 90%;
        margin-left: 5%;
      }
      @media (min-width: 1200px) {
        width: 50%;
        height: auto;
        margin-left: 25%;
      }
      .carousel-caption {
        display: block !important;
        color: white;
        text-shadow: 0 0 8px blue;
        bottom: -100px;
        p {
          font-size: 14px;
          color: blue;
        }
        h3{
          font-size: 18px;
          font-weight: 700;
        }
        @media (min-width: 991px) {
          p{
            font-size: 18px;
          }
          h3 {
            font-size: 22px;
          }
        }
      }
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
  .carousel-indicators {
    bottom: -10px;

  }
}

footer {
  margin-top: -20px;
  .container {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mail {
      width: 50%;
      span {
        padding-left: 10px;
        text-transform: uppercase;
        font-size: 1.2vmax;
        color: white;
      }
    }
    #mail {
      color: blue;
      font-size: 4vh;
      &:hover {
        color: white;
      }
    }
    .links {
      width: 90%;
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      line-height: 50%;
      a {
        color: blue;
        font-size: 4vh;
        margin-left: 20px;
        &:hover {
          color: white;
        }
      }
    }
  }
}

//Menu button

.burger-button {
  position: relative;
  height: 30px;
  width: 32px;
  display: block;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  pointer-events: all;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  outline: none !important;
  margin-top: 7px;
}

.burger-bar {
  background-color: blue;
  position: absolute;
  top: 50%;
  right: 6px;
  left: 6px;
  height: 3px;
  width: auto;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
  opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
  background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.burger-bar--1 {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.burger-bar--2 {
  transform-origin: 100% 50%;
  transform: scaleX(0.8);
}

.burger-button:hover .burger-bar--2 {
  transform: scaleX(1);
}

.no-touchevents .burger-bar--2:hover {
  transform: scaleX(1);
}

.burger-bar--3 {
  transform: translateY(6px);
}

#burger.active .burger-button {
  transform: rotate(-180deg);
}

#burger.active .burger-bar {
  background-color: red;
}

#burger.active .burger-bar--1 {
  transform: rotate(45deg);
}

#burger.active .burger-bar--2 {
  opacity: 0;
}

#burger.active .burger-bar--3 {
  transform: rotate(-45deg);
}
