*, *:before, *:after {
  box-sizing: border-box; 
}

html {
  font-size: 65%;
  transition: font-size 0.2s linear;
  
  @media (min-width: 70em) {
    font-size: 100%;
  }
}
@font-face {
  font-family: 'Iceland';
  src: url("../assets/fonts/Iceland-Regular.ttf");
}
@font-face {
  font-family: 'RussoOne';
  src: url("../assets/fonts/RussoOne-Regular.ttf");
}

body {
  position: relative;
  z-index: 999;
  background-image: url("../assets/bg2.webp");
  background-size: 100% 50%;
  background-position: left top;
  background-repeat: no-repeat;
  color: #fff;
  transition: height 0.8s ease-out;
  &::after {
    position: absolute;
    content: "";
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: black;
  }
}

.bg0, .bg1, .bg2, .bg3{
  // position: relative;
  z-index: 999;
  cursor: pointer;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
  color: lightgrey;
  text-shadow: 0 0 3px black;
  
  &:hover {
    filter: grayscale(0);
    color: white;
    text-shadow: 0 0 15px blue;
  }
}


header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h3 {
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 6vmax;
    margin: 0;
    font-family: 'Iceland', cursive;
    @media (min-width: 992px) {
      font-size: 62px;
    }
  }
  p {
    font-size: 3.5vmax;
    color: black;
    font-family: "RussoOne", sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 3px;
    @media (min-width: 992px) {
      font-size: 40px;
    }
  }
}
    
  

.nav_section {
  height: 60px;
  display: flex;
  .navbar {
    font-family: 'Iceland', cursive;
    font-size: 22px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    .collapse {
      @media (min-width: 767px) {
        display: block !important;
      }
    }
    .nav-item {
      margin: 0 5px;
    }
    .nav-link {
      @media (max-width: 330px) {
        padding: 8px 3px !important;
      }
    }
    
  }
  .logo {
    height: 25px;
    width: 50px;
    display: none;
    margin: 17px 50px 0 0;
    @media (min-width: 460px) {
      display: block;
    }
  }
}


.project {
  margin-top: 30px;
}
.appImage {
  width: auto;
  height: 150px;
  margin-bottom: 30px;
  @media (min-width: 370px) and (max-width: 576px) {
    height: 200px;
  }
  @media (min-width: 768px) {
    height: 350px;
  }
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .mail {
    // width: 50%;
    span {
      padding-left: 10px;
      text-transform: uppercase;
      font-size: 1.2vmax;
      color: white;
    }
  }
  #mail {
    color: blue;
    font-size: 4vh;
    &:hover {
      color: white;
    }
  }
  .date {
    display: flex;

    align-items: center;
    color: gray;
    p {
      margin-right: 5px;
      margin-bottom: 0;
      
    }
  }
  .links {
    // width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // line-height: 50%;
    a {
      color: blue;
      font-size: 4vh;
      margin-left: 20px;
      &:hover {
        color: white;
      }
    }
  }
}


//Menu button

.burger-button {
  position: relative;
  height: 30px;
  width: 32px;
  display: block;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  pointer-events: all;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  outline: none !important;
  margin-top: 7px;
}

.burger-bar {
  background-color: blue;
  position: absolute;
  top: 50%;
  right: 6px;
  left: 6px;
  height: 3px;
  width: auto;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
  opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
  background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.burger-bar--1 {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.burger-bar--2 {
  transform-origin: 100% 50%;
  transform: scaleX(0.8);
}

.burger-button:hover .burger-bar--2 {
  transform: scaleX(1);
}

.no-touchevents .burger-bar--2:hover {
  transform: scaleX(1);
}

.burger-bar--3 {
  transform: translateY(6px);
}

#burger.active .burger-button {
  transform: rotate(-180deg);
}

#burger.active .burger-bar {
  background-color: red;
}

#burger.active .burger-bar--1 {
  transform: rotate(45deg);
}

#burger.active .burger-bar--2 {
  opacity: 0;
}

#burger.active .burger-bar--3 {
  transform: rotate(-45deg);
}


