.modal-content {
  background-image: url("../assets/modal_bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  color: white;
  border: 2px solid navy;

  .modal-body {
    padding: 2vmax;


  }
  .close {
    color: white;
    outline: none;
  }
  h5 {
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px blue;
  }
  ol {
    padding: 10px;
    li {
      padding: 10px;
    }
  }
}
.form-group {
  padding: 0 15px;
}
#messageArea {
  height: 100px;
}
#afterSubmit {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

