.modal-content {
  background-image: url("../assets/bg1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border: 2px solid navy;
  .modal-header {
    border: none;
    
    h5 {
      font-size: 35px;  
    }
  }
  .modal-body {
    padding: 2vmax;

  }
  .close {
    color: white;
    outline: none;
  }
  h5 {
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px blue;
  }
  ol {
    padding: 10px;
    li {
      padding: 10px;
    }
  }
  #afterSubmit {
    font-size: 3.5vh;
    text-align: center;
    padding: 40px 0;
  }
}
.form-group {
  padding: 0 15px;

}
#messageArea {
  height: 100px;
}

